<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Index/Intro</title>

		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon"/>
	</head>
	<body>
		
        <h1>This is the intro/Index page</h1>


		<footer id="footer">
			<p class="copyright">&copy; Code by Jojo.</p>
		</footer>
		
		
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>