<%- include('partials/header') -%>

		
        <h1>This is the Posts page</h1>

		<h2><a href="/">Index</a></h2>
		<h2><a href="/pixel">Pixel Home</a></h2>
		<h2><a href="/post">Post</a></h2>
		<h2><a href="/profile">Profile</a></h2>
		<h2><a href="/signup">Signup</a></h2>
		<h2><a href="/login">Login</a></h2>
		<h2><a href="/editor">Editor</a></h2>


		
<%- include('partials/footer') -%>