<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Signup</title>

		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon"/>
	</head>
	<body>
		
        <h1>This is the Signup Page</h1>

		<hr>
		
		<form action="/signup" method="POST">
			<div class="mb-3">
				<label for="userName" class="form-label">User Name</label>
				<input type="text" class="form-control" id="userName" name="userName">
			  </div>
			<div class="mb-3">
			  <label for="exampleInputEmail1" class="form-label">Email address</label>
			  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
			  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
			</div>
			<div class="mb-3">
			  <label for="password" class="form-label">Password</label>
			  <input type="password" class="form-control" id="password" name="password">
			</div>
			<div class="mb-3">
				<label for="confirmPassword" class="form-label">Confirm Password</label>
				<input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
			  </div>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </form>

		<hr>

		<h2><a href="/">Index</a></h2>
		<h2><a href="/pixel">Pixel Home</a></h2>
		<h2><a href="/post">Post</a></h2>
		<h2><a href="/profile">Profile</a></h2>
		<h2><a href="/signup">Signup</a></h2>
		<h2><a href="/login">Login</a></h2>
		<h2><a href="/editor">Editor</a></h2>

		<footer id="footer">
			<p class="copyright">&copy; Code by Jojo.</p>
		</footer>
		
		
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>